.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardConatiner {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  padding: 25px;
}

.card {
  width: 80px;
  height: 110px;
  perspective: 1000px;
}

.cardInner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  border-radius: 20px;
  /* padding: 5px; */
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  backface-visibility: hidden;
}

.cardBack {
  background-color: lavender;
  transform: rotateY(180deg);
}
.cardFront {
  background-color: #000000ba;
}

.cardImg {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.resetBtn {
  font-size: 20px;
  border: none;
  padding: 7px 12px 7px 12px;
  border-radius: 10px;
  background: #000000cf;
  color: floralwhite;
  font-family: sans-serif;
}

.notStarted {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.startBtn {
  font-size: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-family: emoji;
}

@media (max-width: 600px) {
  .cardConatiner {
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin-bottom: 20px;
    padding: 5px;
  }
  .card {
    width: 66px;
    height: 91px;
  }
  .cardImg {
    height: 45px;
    width: 45px;
  }
}
