.conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.rows {
    display: flex;
}

.columns {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-size: 40px;
}
.xblock {
    color: #3a6fcf;
}
.oblock {
    color: crimson;
}
.reset {
    margin-top: 20px;
    background-color: #061e24;
    border: none;
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    color: antiquewhite;
    border-radius: 19px;
    font-family: math;
}