.container {
    display: flex
;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.inputDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.inputField {
    height: 50px;
    width: 50px;
    /* justify-content: center; */
    display: flex
;
    /* align-items: center; */
    text-align: center;
    font-size: 26px;
}